extends base

block content
    section.archive
        //- 年份取反,为了倒序输出
        each posts, year in _.groupBy(site.posts.toArray(), function(p){return -p.date.format('YYYY')})
            ul.post-archive
                .year= -year
                for post in posts
                    li.post-item
                        span.post-date= post.date.format(config.date_format)
                        a.post-title(href=url_for(post.path),title=post.title)
                            = ' ' + post.title
    //- include _partial/paginator.pug