extends base

block content
    .posts
        for post in page.posts.toArray()
            article.post
                .post-title
                    a.post-title-link(href=url_for(post.path))
                        = post.title
                .post-meta
                    spac.post-time
                        = "Posted on \""+date(post.date, "YYYY/MM/DD") + "\""
                    spac.post-time
                        = "|"
                    spac.post-time
                        = "Edited on \""+date(post.updated, "YYYY/MM/DD") + "\""
                .post-content
                    != post.content
    include _partial/paginator.pug