extends base

//- 显示文章标题和内容
block content
  article.post
    .post-title
      h1.title= page.title
    .post-meta
      spac.post-time
          = "Posted on \""+date(page.date, "YYYY/MM/DD") + "\""
      spac.post-time
          = "|"
      spac.post-time
          = "Edited on \""+date(page.updated, "YYYY/MM/DD") + "\""
    .post-content!= page.content

  include _partial/prev_next.pug