body {
    background-image: linear-gradient(to right top, #828282 50%, #DCDCDC 50%);
    background-size: 100% calc(100% - 100vh + 5px);
    background-repeat: no-repeat;

    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5em;
    font-family: "Source Serif Pro", Arial, "Source Han Serif SC",
        "Noto Serif CJK SC", "Noto Serif SC", "PingFang SC",
        "Heiti SC", "Noto Sans CJK SC", "Source Han Sans SC",
        "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    padding: 0 1.5em;
    margin: 0 auto;
    max-width: 800px;
    word-break: break-word;
}

body::after {
    content: "";
    position: fixed;
    top: 5px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: -1;
}

@media screen and (min-width: 320px) {
    body {
        font-size: calc(16px + 2 * ((100vw - 320px) / 960));
    }
}

@import "_partial/header";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/normalize";
@import "_partial/font-noto-serif-sc";
@import "_partial/font-source-serif-pro";
@import "_partial/dark";
